AI-Powered Web Application Vulnerability and Weakness Testing--working.json
{
  "name": "AI-Powered Web Application Vulnerability and Weakness Testing--working",
  "nodes": [
    {
      "parameters": {},
      "id": "6d225b8f-7447-4e70-80c7-0478f6838122",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -48
      ]
    },
    {
      "parameters": {
        "url": "http://43.205.102.151/icp_snl/index.php?rt=login/login",
        "options": {}
      },
      "id": "b3c44bbe-0bb9-4365-99ec-c9a9fd8a78f2",
      "name": "Fetch URL Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -48,
        -48
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following web page content for security vulnerabilities, specifically:\n\n1. Cross-Site Scripting (XSS) vulnerabilities\n2. SQL Injection risks\n3. Insecure authentication mechanisms\n4. Missing security headers\n5. Exposed sensitive information\n6. CSRF vulnerabilities\n7. Insecure direct object references\n\nWeb page content:\n{{ $json.html }}\n\nProvide a detailed security assessment with:\n- Vulnerability type\n- Severity (Critical/High/Medium/Low)\n- Location in code\n- Exploitation method\n- Remediation steps",
        "options": {
          "systemMessage": "You are a cybersecurity expert specializing in web application security testing. Analyze web content for OWASP Top 10 vulnerabilities including XSS, SQL injection, authentication flaws, and security misconfigurations. Provide detailed, actionable security assessments."
        }
      },
      "id": "ec92a0ea-178c-48cd-910c-98e5de7cfa1b",
      "name": "Analyze Security Vulnerabilities",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        176,
        -48
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "scan_date",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "security_analysis",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "status",
              "value": "completed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d763bcbb-28f8-4e4c-8c7f-10dad5a8dc2e",
      "name": "Format Security Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -48
      ]
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        720,
        -48
      ],
      "id": "48cb6132-5533-495c-aaae-be2d84337953",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -96,
        144
      ],
      "id": "b607f2e8-c638-474f-b797-fd891fdccc64",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "TSxB1C3Uzl242rIM",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "key1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        160
      ],
      "id": "b583b327-5ff9-4015-b9cd-8dd3212bb049",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Fetch URL Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URL Content": {
      "main": [
        [
          {
            "node": "Analyze Security Vulnerabilities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Security Vulnerabilities": {
      "main": [
        [
          {
            "node": "Format Security Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Security Report": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        []
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Security Vulnerabilities",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Analyze Security Vulnerabilities",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "383ac5eb-f791-4a60-b39a-f7f39ff63b8b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "684055168b6a002a13a990f1f85459120e79f2860545a56b5af3df6b4d8a4084"
  },
  "id": "mvXU5MOEyIZYViTc",
  "tags": []
}