Comprehensive IT Infrastructure Security Audit and Vulnerability Assessment Report Generator.json
{
  "name": "Comprehensive IT Infrastructure Security Audit and Vulnerability Assessment Report Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "98db8445-473a-465f-aac9-8f43c08d7d0f",
      "name": "Schedule Security Audit",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -224,
        96
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.scan_results }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert white hat ethical hacker and cybersecurity analyst for Ninestars IT Security Team. Analyze security scan results from Linux servers, Windows servers, firewalls, switches, storage systems, and WiFi networks. Identify vulnerabilities, assess severity levels using CVSS scoring, categorize threats, and provide detailed remediation steps. Focus on open ports, misconfigurations, outdated software, weak credentials, and known CVEs. Present findings in a structured format suitable for executive reporting."
        }
      },
      "id": "13d81b2f-89cb-4d1c-beba-dffe0647730a",
      "name": "Security Analysis AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1024,
        96
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "9112080c-9b76-4965-baf1-1cf0e4398484",
      "name": "Audit Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1024,
        320
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"vulnerability_name\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"severity\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"enum\": [\"Critical\", \"High\", \"Medium\", \"Low\"]\n\t\t},\n\t\t\"affected_systems\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"description\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"remediation_steps\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"cvss_score\": {\n\t\t\t\"type\": \"number\"\n\t\t},\n\t\t\"open_ports\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"number\"\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "id": "cc6cd84c-a7f5-4aac-9322-47a412da804b",
      "name": "Structured Vulnerability Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1280,
        320
      ]
    },
    {
      "parameters": {
        "authentication": "privateKey",
        "command": "nmap -sV -sC -O -p- --script vuln <__PLACEHOLDER_VALUE__target_ip__> && lynis audit system --quick"
      },
      "id": "2fc9fcba-7a0e-4e5a-b621-7dfd96972d3c",
      "name": "Scan Linux Servers",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "credentials": {
        "sshPrivateKey": {
          "id": "sixkMJYBXyBXXfIy",
          "name": "SSH Private Key account"
        }
      }
    },
    {
      "parameters": {
        "url": "<__PLACEHOLDER_VALUE__network_device_api_endpoint__>",
        "options": {}
      },
      "id": "95755509-eb1d-4453-a61a-4bf9834754c8",
      "name": "Scan Network Devices",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "description": "Performs advanced port scanning and vulnerability detection across specified IP ranges and identifies security weaknesses",
        "jsCode": "// Parse nmap output and identify open ports, running services, and potential vulnerabilities\n// Input: query should contain nmap scan results or IP range to scan\n\nconst nmapOutput = query;\n\n// Parse nmap output to extract open ports and services\nconst openPorts = [];\nconst services = [];\nconst vulnerabilities = [];\n\n// Extract port information from nmap output\nconst portRegex = /(\\d+)\\/tcp\\s+open\\s+([\\w-]+)/g;\nlet match;\n\nwhile ((match = portRegex.exec(nmapOutput)) !== null) {\n  const port = parseInt(match[1]);\n  const service = match[2];\n  \n  openPorts.push(port);\n  services.push({ port, service });\n  \n  // Check for common vulnerable ports and services\n  if (port === 23) {\n    vulnerabilities.push({\n      port,\n      service,\n      severity: 'High',\n      description: 'Telnet service detected - unencrypted protocol',\n      cve: 'N/A'\n    });\n  } else if (port === 21) {\n    vulnerabilities.push({\n      port,\n      service,\n      severity: 'Medium',\n      description: 'FTP service detected - potentially insecure',\n      cve: 'N/A'\n    });\n  } else if (port === 445) {\n    vulnerabilities.push({\n      port,\n      service,\n      severity: 'Critical',\n      description: 'SMB service exposed - potential EternalBlue vulnerability',\n      cve: 'CVE-2017-0144'\n    });\n  } else if (port === 3389) {\n    vulnerabilities.push({\n      port,\n      service,\n      severity: 'High',\n      description: 'RDP service exposed - potential BlueKeep vulnerability',\n      cve: 'CVE-2019-0708'\n    });\n  }\n}\n\n// Format results\nconst results = {\n  open_ports: openPorts,\n  services: services,\n  vulnerabilities: vulnerabilities,\n  total_open_ports: openPorts.length,\n  critical_findings: vulnerabilities.filter(v => v.severity === 'Critical').length\n};\n\nreturn JSON.stringify(results, null, 2);"
      },
      "id": "e913c6ad-edd9-42f8-bca0-d95b9577d7e7",
      "name": "Port Scanner Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        1152,
        320
      ]
    },
    {
      "parameters": {},
      "id": "fe498e18-9145-45b0-b5b4-9d115dfb94f7",
      "name": "Combine Scan Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        96
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "scan_results",
              "value": "={{ JSON.stringify($json) }}",
              "type": "object"
            },
            {
              "id": "id-2",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "scan_type",
              "value": "<__PLACEHOLDER_VALUE__scan_type__>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "0721fe24-0a7c-44ee-bcbd-5bf9dc335b6d",
      "name": "Format Scan Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        96
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "482bcfbd-7b6e-4903-80c4-69462b55132b",
      "name": "Aggregate Vulnerabilities",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        96
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "vulnerabilities",
        "options": {}
      },
      "id": "b0c354ec-e96e-42b9-9f0d-646419e06699",
      "name": "Split Vulnerabilities",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1488,
        320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.severity }}",
                    "value2": "Critical"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.severity }}",
                    "value2": "High"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.severity }}",
                    "value2": "Medium"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.severity }}",
                    "value2": "Low"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "0b779a31-dcf7-43c0-bdc7-8916501b7eb9",
      "name": "Route by Severity",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1440,
        848
      ]
    },
    {
      "parameters": {
        "html": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Security Audit Report - Ninestars IT Security Team</title>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Ninestars IT Security Team</h1>\n      <h2>Comprehensive Security Audit Report</h2>\n      <p class=\"timestamp\">Report Generated: {{ $json.output.timestamp || $now.toISO() }}</p>\n    </div>\n\n    <div class=\"executive-summary\">\n      <h3>Executive Summary</h3>\n      <p><strong>Vulnerability Name:</strong> {{ $json.output.vulnerability_name }}</p>\n      <p><strong>CVSS Score:</strong> {{ $json.output.cvss_score }}</p>\n      <p class=\"severity severity-{{ $json.output.severity.toLowerCase() }}\">\n        <strong>Severity Level:</strong> {{ $json.output.severity }}\n      </p>\n    </div>\n\n    <div class=\"section\">\n      <h3>Affected Systems</h3>\n      <ul class=\"systems-list\">\n        {{ $json.output.affected_systems.map(system => `<li>${system}</li>`).join('') }}\n      </ul>\n    </div>\n\n    <div class=\"section\">\n      <h3>Open Ports Detected</h3>\n      <div class=\"ports\">\n        {{ $json.output.open_ports.map(port => `<span class=\"port-badge\">${port}</span>`).join(' ') }}\n      </div>\n    </div>\n\n    <div class=\"section\">\n      <h3>Vulnerability Description</h3>\n      <p class=\"description\">{{ $json.output.description }}</p>\n    </div>\n\n    <div class=\"section remediation\">\n      <h3>Remediation Steps</h3>\n      <p class=\"remediation-text\">{{ $json.output.remediation_steps }}</p>\n    </div>\n\n    <div class=\"footer\">\n      <p>This report is confidential and intended for authorized personnel only.</p>\n      <p>&copy; Ninestars IT Security Team - {{ $now.format('yyyy') }}</p>\n    </div>\n  </div>\n</body>\n</html>\n\n<style>\n* {\n  margin: 0;\n  padding: 0;\n  box-sizing: border-box;\n}\n\nbody {\n  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n  background-color: #f5f5f5;\n  padding: 20px;\n  line-height: 1.6;\n}\n\n.container {\n  max-width: 900px;\n  margin: 0 auto;\n  background-color: #ffffff;\n  padding: 40px;\n  border-radius: 8px;\n  box-shadow: 0 2px 10px rgba(0,0,0,0.1);\n}\n\n.header {\n  text-align: center;\n  border-bottom: 3px solid #2c3e50;\n  padding-bottom: 20px;\n  margin-bottom: 30px;\n}\n\n.header h1 {\n  color: #2c3e50;\n  font-size: 32px;\n  font-weight: bold;\n  margin-bottom: 10px;\n}\n\n.header h2 {\n  color: #34495e;\n  font-size: 24px;\n  font-weight: 600;\n  margin-bottom: 10px;\n}\n\n.timestamp {\n  color: #7f8c8d;\n  font-size: 14px;\n  font-style: italic;\n}\n\n.executive-summary {\n  background-color: #ecf0f1;\n  padding: 20px;\n  border-radius: 6px;\n  margin-bottom: 25px;\n}\n\n.executive-summary h3 {\n  color: #2c3e50;\n  font-size: 20px;\n  margin-bottom: 15px;\n  border-bottom: 2px solid #bdc3c7;\n  padding-bottom: 8px;\n}\n\n.severity {\n  display: inline-block;\n  padding: 8px 16px;\n  border-radius: 4px;\n  font-weight: bold;\n  margin-top: 10px;\n}\n\n.severity-critical {\n  background-color: #e74c3c;\n  color: white;\n}\n\n.severity-high {\n  background-color: #e67e22;\n  color: white;\n}\n\n.severity-medium {\n  background-color: #f39c12;\n  color: white;\n}\n\n.severity-low {\n  background-color: #27ae60;\n  color: white;\n}\n\n.section {\n  margin-bottom: 25px;\n  padding: 15px;\n  border-left: 4px solid #3498db;\n  background-color: #f8f9fa;\n}\n\n.section h3 {\n  color: #2c3e50;\n  font-size: 18px;\n  margin-bottom: 12px;\n  font-weight: 600;\n}\n\n.systems-list {\n  list-style-type: none;\n  padding-left: 0;\n}\n\n.systems-list li {\n  padding: 8px 12px;\n  margin-bottom: 6px;\n  background-color: #ffffff;\n  border-left: 3px solid #3498db;\n  border-radius: 3px;\n}\n\n.ports {\n  display: flex;\n  flex-wrap: wrap;\n  gap: 10px;\n}\n\n.port-badge {\n  display: inline-block;\n  background-color: #3498db;\n  color: white;\n  padding: 6px 12px;\n  border-radius: 4px;\n  font-weight: bold;\n  font-size: 14px;\n}\n\n.description {\n  color: #34495e;\n  font-size: 15px;\n  line-height: 1.8;\n}\n\n.remediation {\n  border-left-color: #e74c3c;\n  background-color: #fff5f5;\n}\n\n.remediation-text {\n  color: #2c3e50;\n  font-size: 15px;\n  line-height: 1.8;\n  white-space: pre-wrap;\n}\n\n.footer {\n  margin-top: 40px;\n  padding-top: 20px;\n  border-top: 2px solid #ecf0f1;\n  text-align: center;\n  color: #7f8c8d;\n  font-size: 12px;\n}\n\n.footer p {\n  margin-bottom: 5px;\n}\n\n@media print {\n  body {\n    background-color: white;\n    padding: 0;\n  }\n  \n  .container {\n    box-shadow: none;\n    max-width: 100%;\n  }\n}\n</style>"
      },
      "id": "7c81577b-628c-48c7-bf70-880daa2a675a",
      "name": "Build PDF Report",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1968,
        944
      ]
    },
    {
      "parameters": {
        "operation": "html",
        "options": {
          "fileName": "={{ 'Ninestars_Security_Audit_Report_' + $now.format('yyyy-MM-dd') + '.pdf' }}"
        }
      },
      "id": "25650ff9-3830-4b54-8193-786afe770b28",
      "name": "Generate PDF",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2160,
        768
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "<__PLACEHOLDER_VALUE__security_audit_table__>"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": null
        },
        "options": {}
      },
      "id": "d6b2babf-b639-4918-802d-c6e95ba23df9",
      "name": "Store Audit History",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1744,
        384
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "abcea699-12ec-41d6-9339-03b488490666",
      "name": "Collect All Vulnerabilities",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1440,
        1200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "report_date",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "total_vulnerabilities",
              "value": "={{ $json.data.length }}",
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "critical_count",
              "value": "={{ $json.data.filter(item => item.severity === 'Critical').length }}",
              "type": "number"
            },
            {
              "id": "id-4",
              "name": "high_count",
              "value": "={{ $json.data.filter(item => item.severity === 'High').length }}",
              "type": "number"
            },
            {
              "id": "id-5",
              "name": "medium_count",
              "value": "={{ $json.data.filter(item => item.severity === 'Medium').length }}",
              "type": "number"
            },
            {
              "id": "id-6",
              "name": "low_count",
              "value": "={{ $json.data.filter(item => item.severity === 'Low').length }}",
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "report_title",
              "value": "Ninestars IT Security Team - Infrastructure Audit Report",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c1343dac-c96b-4e0c-94a1-f6870cd65610",
      "name": "Prepare Audit Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        1184
      ]
    },
    {
      "parameters": {
        "fromEmail": "<__PLACEHOLDER_VALUE__sender_email__>",
        "toEmail": "<__PLACEHOLDER_VALUE__security_team_email__>",
        "subject": "=Ninestars IT Security Audit Report - {{ $now.format('yyyy-MM-dd') }}",
        "html": "Please find attached the comprehensive IT infrastructure security audit report. This report includes vulnerability assessments for Linux servers, Windows servers, firewalls, switches, storage systems, and WiFi networks.",
        "options": {
          "attachments": "data"
        }
      },
      "id": "abc392d5-05c1-4751-868b-56190f26b534",
      "name": "Email Security Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2336,
        624
      ],
      "webhookId": "fd1170e6-6e8d-46c3-82bf-b92e7000c80b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "vulnerability_name",
              "value": "={{ $json.vulnerability_name }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "severity",
              "value": "={{ $json.severity }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "affected_systems",
              "value": "={{ JSON.stringify($json.affected_systems) }}",
              "type": "array"
            },
            {
              "id": "id-4",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "remediation_steps",
              "value": "={{ $json.remediation_steps }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "cvss_score",
              "value": "={{ $json.cvss_score }}",
              "type": "number"
            },
            {
              "id": "id-7",
              "name": "open_ports",
              "value": "={{ JSON.stringify($json.open_ports) }}",
              "type": "array"
            },
            {
              "id": "id-8",
              "name": "audit_date",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bf6ee91c-6d24-438d-aa4a-12cec166e959",
      "name": "Prepare Vulnerability Record",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1424,
        640
      ]
    },
    {
      "parameters": {
        "model": "mistral-tiny-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        896,
        304
      ],
      "id": "37572ed0-6e3c-42c3-a8e9-b0d32e070daf",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "TSxB1C3Uzl242rIM",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Audit Memory": {
      "ai_memory": [
        [
          {
            "node": "Security Analysis AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Vulnerability Output": {
      "ai_outputParser": [
        [
          {
            "node": "Security Analysis AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Port Scanner Tool": {
      "ai_tool": [
        [
          {
            "node": "Security Analysis AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Security Audit": {
      "main": [
        [
          {
            "node": "Scan Linux Servers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scan Network Devices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Linux Servers": {
      "main": [
        [
          {
            "node": "Combine Scan Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scan Network Devices": {
      "main": [
        [
          {
            "node": "Combine Scan Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Combine Scan Results": {
      "main": [
        [
          {
            "node": "Format Scan Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Scan Data": {
      "main": [
        [
          {
            "node": "Aggregate Vulnerabilities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Vulnerabilities": {
      "main": [
        [
          {
            "node": "Security Analysis AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Analysis AI Agent": {
      "main": [
        [
          {
            "node": "Split Vulnerabilities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Vulnerabilities": {
      "main": [
        [
          {
            "node": "Route by Severity",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Vulnerability Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Severity": {
      "main": [
        [
          {
            "node": "Collect All Vulnerabilities",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect All Vulnerabilities",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect All Vulnerabilities",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect All Vulnerabilities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect All Vulnerabilities": {
      "main": [
        [
          {
            "node": "Prepare Audit Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Audit Data": {
      "main": [
        [
          {
            "node": "Build PDF Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build PDF Report": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF": {
      "main": [
        [
          {
            "node": "Email Security Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Vulnerability Record": {
      "main": [
        [
          {
            "node": "Store Audit History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Security Analysis AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "36d62265-ac47-4be7-a70f-421bdcd58057",
  "meta": {
    "instanceId": "684055168b6a002a13a990f1f85459120e79f2860545a56b5af3df6b4d8a4084"
  },
  "id": "3G2xioTttlCvCx29",
  "tags": []
}