Dynamic Multi AI Auditor -working.json
{
  "name": "Dynamic Multi AI Auditor -working",
  "nodes": [
    {
      "parameters": {},
      "id": "61c2b01b-33ff-4369-8a6b-da54fcce3c1a",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/.n8n-files/Business-Continuity-Plan-IS1506.pdf"
      },
      "id": "f3b8adf5-bd12-41bc-9dc0-1b9f44a10a62",
      "name": "Read Policy PDF",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "d681d459-1d0f-492d-a8cc-f3f41e0051ba",
      "name": "Extract Policy Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/.n8n-files/evidence/BCP-Evidences.pdf",
        "dataPropertyName": "data1"
      },
      "id": "1dfeea85-18a0-4763-9cc1-27dc740c8e23",
      "name": "Read Evidence PDF",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "data1",
        "options": {}
      },
      "id": "06fd4b8e-d392-4109-aaaa-3bb233819828",
      "name": "Extract Evidence Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        208
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "15f05ab7-d9be-410a-a64d-f0d9ab65a18c",
      "name": "Merge Documents",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        400,
        112
      ]
    },
    {
      "parameters": {
        "functionCode": "const text = $json.text.toLowerCase();\nlet standard = 'ISO27001';\n\nif (text.includes('privacy') || text.includes('pii')) standard = 'ISO27701';\nelse if (text.includes('cloud') || text.includes('aws') || text.includes('azure')) standard = 'ISO27017';\nelse if (text.includes('ai') && text.includes('risk')) standard = 'ISO23894';\nelse if (text.includes('ai')) standard = 'ISO42001';\nelse if (text.includes('soc 2')) standard = 'SOC2';\n\nreturn [{ ...$json, standard }];"
      },
      "id": "e035fe80-c2a6-4468-ac04-30bfe02b1ac5",
      "name": "Detect Standard",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        608,
        112
      ]
    },
    {
      "parameters": {
        "functionCode": "const prompts = {\n  ISO27001: `You are an ISO 27001 auditor. Map to Annex A controls. Provide Findings, Risk, Compliance, Recommendations, Score %`,\n  ISO27701: `You are an ISO 27701 Privacy auditor. Focus on PII and GDPR compliance.`,\n  ISO27017: `You are an ISO 27017 Cloud Security auditor. Focus on cloud shared responsibility.`,\n  ISO42001: `You are an ISO 42001 AI Management auditor. Focus on governance and bias.`,\n  ISO23894: `You are an ISO 23894 AI Risk auditor. Focus on risk identification and mitigation.`,\n  SOC2: `You are a SOC 2 Type II auditor. Focus on Security, Availability, Confidentiality.`\n};\n\nreturn [{ prompt: prompts[$json.standard], standard: $json.standard, text: $json.text }];"
      },
      "id": "49cdfa47-852a-48ef-a251-8d3fc61cc1ae",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        800,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"Authorization\": \"Bearer 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\", \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'llama-3.3-70b-versatile', messages: [ { role: 'system', content: $json.prompt }, { role: 'user', content: $json.text } ], temperature: 0.2 } }}",
        "options": {}
      },
      "id": "3a15c7a2-9453-49a7-8e60-b8ddec095996",
      "name": "AI Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1008,
        112
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ html: `<h1>${$json.standard} Audit Report</h1><pre>${$json.choices[0].message.content}</pre>` }];"
      },
      "id": "c83aa07e-c0f7-4071-956b-910c45194eb8",
      "name": "Format HTML",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1200,
        112
      ]
    },
    {
      "parameters": {
        "html_content": "={{$json.html}}"
      },
      "id": "e14d3375-8825-41c0-87f6-e7e8afabfd13",
      "name": "Convert HTML to PDF",
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        1488,
        336
      ],
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "sh4BrNiTTvNX8Ckw",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json.pdf_url}}",
        "options": {}
      },
      "id": "df51e3c0-8fcd-4a58-a8b5-579b58869f73",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1680,
        336
      ]
    },
    {
      "parameters": {
        "fileName": "/home/node/.n8n-files/pdf_output/Final_Audit_Report.pdf",
        "options": {}
      },
      "id": "25ca4bbf-ccc3-4ad5-97e8-b48d1f9f4c10",
      "name": "Save PDF",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1856,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1200,
        -80
      ],
      "id": "6c534a3e-d363-45cd-8bd8-85c395a96c82",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/pdf_output/Final_Audit_Report.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1456,
        -80
      ],
      "id": "e91cb635-5988-42de-aa64-7a277fc6d336",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/evidence/BCP-Chronology.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -208,
        352
      ],
      "id": "c8b891fe-8ed5-47f9-8666-431ce15bc50b",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "fileSelector": "/home/node/.n8n-files/evidence/BCP-Framework-IS1507.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -208,
        528
      ],
      "id": "a669405a-36c8-42c1-a998-2d72c601da8a",
      "name": "Read/Write Files from Disk2"
    },
    {
      "parameters": {
        "binaryPropertyName": "data2",
        "options": {}
      },
      "id": "027ab084-c01a-4cc7-b8db-8dd33b844150",
      "name": "Extract Evidence Text1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        16,
        368
      ]
    },
    {
      "parameters": {
        "binaryPropertyName": "data3",
        "options": {}
      },
      "id": "7cf1514d-fc36-4450-a117-026e941300e2",
      "name": "Extract Evidence Text2",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        0,
        560
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Policy PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Evidence PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Policy PDF": {
      "main": [
        [
          {
            "node": "Extract Policy Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Policy Text": {
      "main": [
        [
          {
            "node": "Merge Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Evidence PDF": {
      "main": [
        [
          {
            "node": "Extract Evidence Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Evidence Text": {
      "main": [
        [
          {
            "node": "Merge Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Documents": {
      "main": [
        [
          {
            "node": "Detect Standard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Standard": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "AI Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Audit": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format HTML": {
      "main": [
        []
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Save PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        []
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        []
      ]
    },
    "Read/Write Files from Disk2": {
      "main": [
        []
      ]
    },
    "Extract Evidence Text1": {
      "main": [
        []
      ]
    },
    "Extract Evidence Text2": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "438b0512-2d78-4563-a447-029bdc51327b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "684055168b6a002a13a990f1f85459120e79f2860545a56b5af3df6b4d8a4084"
  },
  "id": "9qGYqw00OuJ9VMis",
  "tags": []
}