Enterprise ISMS Document Writer Engine(1).json
{
  "name": "Enterprise ISMS Document Writer Engine",
  "nodes": [
    {
      "parameters": {},
      "id": "d3c28c26-6248-478b-b41f-27f5bccf268b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        0
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/.n8n-files/policy/Password-Management-Policy-IS1521.docx"
      },
      "id": "c8802970-78fe-4737-9779-6a9177e311e4",
      "name": "Read Policy Document",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -80,
        -320
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "4686f63f-0113-421a-a82a-e7da64c107c5",
      "name": "Extract Policy Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        64,
        176
      ]
    },
    {
      "parameters": {
        "functionCode": "const text = $json.text;\n\nconst prompt = `\nYou are an expert ISMS Documentation Writer.\n\nUsing the provided policy, generate a COMPLETE enterprise compliance document covering ALL standards:\n\nStandards:\n- ISO/IEC 27001 (Annex A controls)\n- ISO/IEC 27701 (Privacy)\n- ISO/IEC 27017 (Cloud Security)\n- ISO/IEC 42001 (AI Management)\n- ISO/IEC 23894 (AI Risk)\n- SOC 2 Type II\n\nFor EACH CONTROL provide:\n\n1. Control ID & Name\n2. Description\n3. Policy Coverage (map with given policy)\n4. Required Documents (SOP, Policy, Procedure)\n5. Evidence Required (logs, screenshots, reports)\n6. Audit Findings (based on given policy)\n7. Validation Status (Compliant / Partial / Non-Compliant)\n8. Risk Level (Low/Medium/High)\n9. Recommendation\n\nOutput in structured format with headings and tables.\n\nPolicy Content:\n${text}\n`;\n\nreturn [{ prompt }];"
      },
      "id": "dee3fb83-4c98-47ae-9762-2210b6b2a0bf",
      "name": "Build ISMS Document Prompt",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        192,
        -320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{ \"Authorization\": \"Bearer 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\", \"Content-Type\": \"application/json\" }",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: 'llama-3.3-70b-versatile', messages: [ { role: 'system', content: 'You are a professional ISMS document writer and auditor.' }, { role: 'user', content: $json.prompt } ], temperature: 0.2 } }}",
        "options": {}
      },
      "id": "3db6efe8-b126-4a3f-9d64-3b84fa97671c",
      "name": "AI ISMS Document Generator",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        176
      ]
    },
    {
      "parameters": {
        "functionCode": "const raw = $json.choices[0].message.content;\n\n// Clean formatting\nconst cleaned = raw\n  .replace(/\\\\n/g, \"<br>\")\n  .replace(/\\*\\*(.*?)\\*\\*/g, \"<b>$1</b>\")\n  .replace(/### (.*?)/g, \"<h3>$1</h3>\")\n  .replace(/## (.*?)/g, \"<h2>$1</h2>\")\n  .replace(/# (.*?)/g, \"<h1>$1</h1>\");\n\nreturn [{\n  html: `\n  <html>\n  <body style=\"font-family: Arial; padding:20px;\">\n    ${cleaned}\n  </body>\n  </html>\n  `\n}];"
      },
      "id": "08761366-7017-4c1e-8c00-cfeb2aa3d722",
      "name": "Format Document (HTML)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        416,
        -304
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {}
      },
      "id": "08d1a370-f52c-4068-a626-6b0ffc52f9fe",
      "name": "Convert to File",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        816,
        80
      ]
    },
    {
      "parameters": {
        "fileName": "/home/node/.n8n-files/html_output1/ISMS_Enterprise_Report.html",
        "options": {}
      },
      "id": "2ac969ff-e8bd-41bc-a1f2-34cb7407983d",
      "name": "Save ISMS Document",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        752,
        -112
      ]
    },
    {
      "parameters": {
        "html_content": "={{$json.html}}"
      },
      "id": "38782e37-7a48-41f1-b848-66e4fdca5d9f",
      "name": "Convert HTML to PDF",
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        912,
        256
      ],
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "sh4BrNiTTvNX8Ckw",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json.pdf_url}}",
        "options": {}
      },
      "id": "ec2b864d-e1d7-489d-91b1-d39e5e85e780",
      "name": "Download PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        -368
      ]
    },
    {
      "parameters": {
        "fileName": "/home/node/.n8n-files/pdf_output/ISMS_Enterprise_Report.pdf",
        "options": {}
      },
      "id": "89da1e3e-6629-4a7b-bcd0-9f30ed07d169",
      "name": "Save PDF",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1136,
        -176
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/home/node/.n8n-files/pdf_output/Final_Audit_Report.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1232,
        64
      ],
      "id": "c8662dd0-ef64-4a2d-a59b-6559c76bcaa3",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        992,
        80
      ],
      "id": "8a8e8b31-13ea-4a59-a481-95fb21a1d0dd",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "convertToHtmlTable",
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        640,
        -304
      ],
      "id": "474dd9e8-c060-4a3a-8de3-6927fa7ba004",
      "name": "HTML"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Policy Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Policy Document": {
      "main": [
        [
          {
            "node": "Extract Policy Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Policy Text": {
      "main": [
        [
          {
            "node": "Build ISMS Document Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build ISMS Document Prompt": {
      "main": [
        [
          {
            "node": "AI ISMS Document Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI ISMS Document Generator": {
      "main": [
        [
          {
            "node": "Format Document (HTML)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Document (HTML)": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        []
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Save PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Save ISMS Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "45ae8dc7-e9f0-4fc0-a012-2120ac8f61e7",
  "meta": {
    "instanceId": "684055168b6a002a13a990f1f85459120e79f2860545a56b5af3df6b4d8a4084"
  },
  "id": "VUAf6So9rrwUkTtk",
  "tags": []
}