ISO27001 AI Auditor + PDF Export-Live(1).json
{
  "name": "ISO27001 AI Auditor + PDF Export-Live",
  "nodes": [
    {
      "parameters": {},
      "id": "5cd36d56-d470-4172-82ba-27dedfbb551e",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        112
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/.n8n-files/Business-Continuity-Plan-IS1506.pdf"
      },
      "id": "c23f96f0-4a04-4b11-9e29-bcdea067a47e",
      "name": "Read Policy PDF",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "4d20b33e-62d3-4fb2-b9a9-1eb7bd65a5be",
      "name": "Extract Policy Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/.n8n-files/BCP-Evidences.pdf"
      },
      "id": "dcd4b76e-4615-455a-ad4e-5b23aaf7ae48",
      "name": "Read Evidence PDF",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "6a73ddcf-fc45-483a-b488-15cdabb00c18",
      "name": "Extract Evidence Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        208,
        208
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "206b4e13-2227-4238-b474-2c8a4c231684",
      "name": "Merge Documents",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        400,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Authorization\": \"Bearer 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\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \n  model: 'llama-3.3-70b-versatile',\n  messages: [\n    {\n      role: 'system',\n      content: 'You are an ISO 27001 auditor. Provide structured output: Findings, Risks, Compliance Status, Recommendations.'\n    },\n    {\n      role: 'user',\n      content: $json.text\n    }\n  ],\n  temperature: 0.2\n} }}",
        "options": {}
      },
      "id": "0fd980d1-244d-42dc-9f6f-1838a7e88a6f",
      "name": "AI Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        -128
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{ html: `<h1>ISO 27001 Audit Report</h1><pre>${$json.choices[0].message.content}</pre>` }];"
      },
      "id": "eb18ebd6-0b17-4ebf-b29c-3ece4e07a60f",
      "name": "Format HTML Report",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        704,
        96
      ]
    },
    {
      "parameters": {
        "fileName": "/home/node/.n8n-files/pdf_output/ISMS_Audit_Report.pdf",
        "options": {}
      },
      "id": "56c3f2ad-dded-41a4-96df-0efcec6e3feb",
      "name": "Save PDF",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1232,
        112
      ]
    },
    {
      "parameters": {
        "html_content": "={{$json.html}}",
        "viewPortWidth": 720
      },
      "type": "n8n-nodes-htmlcsstopdf.htmlcsstopdf",
      "typeVersion": 1,
      "position": [
        912,
        112
      ],
      "id": "fd1480c6-9a2b-4a45-b950-2de77b2f376c",
      "name": "Convert HTML to PDF",
      "credentials": {
        "htmlcsstopdfApi": {
          "id": "sh4BrNiTTvNX8Ckw",
          "name": "HTML to PDF account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$json.pdf_url}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1072,
        112
      ],
      "id": "3a08b894-1116-466c-9dff-35f5dade5838",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read Policy PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Evidence PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Policy PDF": {
      "main": [
        [
          {
            "node": "Extract Policy Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Policy Text": {
      "main": [
        [
          {
            "node": "Merge Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Evidence PDF": {
      "main": [
        [
          {
            "node": "Extract Evidence Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Evidence Text": {
      "main": [
        [
          {
            "node": "Merge Documents",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Documents": {
      "main": [
        [
          {
            "node": "AI Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Audit": {
      "main": [
        [
          {
            "node": "Format HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format HTML Report": {
      "main": [
        [
          {
            "node": "Convert HTML to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert HTML to PDF": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save PDF": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Save PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "051bd045-d18d-4fe4-9d79-c52861da262a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "684055168b6a002a13a990f1f85459120e79f2860545a56b5af3df6b4d8a4084"
  },
  "id": "leHVFnBDHyjXbuL9",
  "tags": []
}