Multi-Server Vulnerability Assessment and Port Scanning with Automated Documentation.json
{
  "name": "Multi-Server Vulnerability Assessment and Port Scanning with Automated Documentation",
  "nodes": [
    {
      "parameters": {},
      "id": "bf53c1bd-247a-44c2-9bcb-3ee7ee7c0afb",
      "name": "When clicking Test workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -896,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cefb034a-ce6f-4e8e-8785-371784733f54",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "38e34e58-d8e0-4808-a61d-1e4db2bb1746",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "341d4da3-ffda-499c-b282-2ba54ea1382e",
      "name": "Define Servers to Scan",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -672,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const servers = $input.first().json.servers;\nreturn servers.map(server => ({ json: server }));"
      },
      "id": "583a6862-5066-469c-b905-31fe1fb8020a",
      "name": "Split Servers into Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        192
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "allScans",
        "options": {}
      },
      "id": "47422a87-9ccf-4c91-acc6-943adad5f9ec",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const allScans = $input.first().json.allScans;\nconst reportDate = new Date().toISOString().split('T')[0];\n\nlet markdown = `# Vulnerability Assessment Report\\n\\n`;\nmarkdown += `**Report Date:** ${reportDate}\\n\\n`;\nmarkdown += `**Total Servers Scanned:** ${allScans.length}\\n\\n`;\n\nconst highRisk = allScans.filter(s => s.riskLevel === 'High').length;\nconst mediumRisk = allScans.filter(s => s.riskLevel === 'Medium').length;\nconst lowRisk = allScans.filter(s => s.riskLevel === 'Low').length;\n\nmarkdown += `## Summary\\n\\n`;\nmarkdown += `- 🔴 High Risk Servers: ${highRisk}\\n`;\nmarkdown += `- 🟡 Medium Risk Servers: ${mediumRisk}\\n`;\nmarkdown += `- 🟢 Low Risk Servers: ${lowRisk}\\n\\n`;\n\nmarkdown += `## Detailed Scan Results\\n\\n`;\n\nallScans.forEach(scan => {\n  const riskEmoji = scan.riskLevel === 'High' ? '🔴' : scan.riskLevel === 'Medium' ? '🟡' : '🟢';\n  markdown += `### ${riskEmoji} ${scan.hostname} (${scan.ip})\\n\\n`;\n  markdown += `- **Scan Time:** ${scan.scanTime}\\n`;\n  markdown += `- **Open Ports:** ${scan.openPorts}\\n`;\n  markdown += `- **Closed Ports:** ${scan.closedPorts}\\n`;\n  markdown += `- **Vulnerabilities Found:** ${scan.vulnerabilityCount}\\n`;\n  markdown += `- **Risk Level:** ${scan.riskLevel}\\n\\n`;\n  \n  if (scan.portScanResults && scan.portScanResults.length > 0) {\n    markdown += `#### Port Scan Results\\n\\n`;\n    markdown += `| Port | Status | Service |\\n`;\n    markdown += `|------|--------|---------|\\n`;\n    scan.portScanResults.forEach(port => {\n      markdown += `| ${port.port} | ${port.status} | ${port.service || 'N/A'} |\\n`;\n    });\n    markdown += `\\n`;\n  }\n  \n  if (scan.vulnerabilities && scan.vulnerabilities.length > 0) {\n    markdown += `#### Vulnerabilities\\n\\n`;\n    scan.vulnerabilities.forEach((vuln, idx) => {\n      markdown += `**${idx + 1}. ${vuln.type}** (${vuln.severity})\\n\\n`;\n      markdown += `- **Port:** ${vuln.port}\\n`;\n      markdown += `- **Description:** ${vuln.description}\\n`;\n      markdown += `- **Recommendation:** ${vuln.recommendation}\\n\\n`;\n    });\n  }\n  \n  markdown += `---\\n\\n`;\n});\n\nmarkdown += `## Recommendations\\n\\n`;\nmarkdown += `1. Address all High severity vulnerabilities immediately\\n`;\nmarkdown += `2. Review and remediate Medium severity issues within 30 days\\n`;\nmarkdown += `3. Schedule regular vulnerability scans (weekly recommended)\\n`;\nmarkdown += `4. Implement network segmentation and firewall rules\\n`;\nmarkdown += `5. Keep all services and software up to date\\n`;\n\nreturn [{\n  json: {\n    reportMarkdown: markdown,\n    reportDate: reportDate,\n    totalServers: allScans.length,\n    highRiskCount: highRisk,\n    mediumRiskCount: mediumRisk,\n    lowRiskCount: lowRisk\n  }\n}];"
      },
      "id": "036ac6ca-906f-4e7b-b389-bcfe65bbbb93",
      "name": "Generate Markdown Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const server = $input.first().json;\nconst ports = server.ports.split(',');\n\nconst scanResults = ports.map(port => {\n  const portNum = parseInt(port);\n  const isOpen = Math.random() > 0.3;\n  const service = {\n    80: 'HTTP',\n    443: 'HTTPS',\n    22: 'SSH',\n    3306: 'MySQL',\n    8080: 'HTTP-Alt',\n    8443: 'HTTPS-Alt',\n    3000: 'Node.js'\n  }[portNum] || 'Unknown';\n  \n  return {\n    port: portNum,\n    status: isOpen ? 'open' : 'closed',\n    service: isOpen ? service : null\n  };\n});\n\nreturn [{\n  json: {\n    hostname: server.hostname,\n    ip: server.ip,\n    scanTime: new Date().toISOString(),\n    portScanResults: scanResults,\n    openPorts: scanResults.filter(r => r.status === 'open').length,\n    closedPorts: scanResults.filter(r => r.status === 'closed').length\n  }\n}];"
      },
      "id": "e0ce27b4-5691-4428-a00d-30299e160b25",
      "name": "Simulate Port Scan",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const scanData = $input.first().json;\nconst vulnerabilities = [];\n\nscanData.portScanResults.forEach(portResult => {\n  if (portResult.status === 'open') {\n    if (portResult.port === 22) {\n      vulnerabilities.push({\n        severity: 'Medium',\n        type: 'SSH Exposed',\n        port: portResult.port,\n        description: 'SSH port is publicly accessible',\n        recommendation: 'Restrict SSH access to specific IP ranges or use VPN'\n      });\n    }\n    if (portResult.port === 3306) {\n      vulnerabilities.push({\n        severity: 'High',\n        type: 'Database Exposed',\n        port: portResult.port,\n        description: 'MySQL database port is publicly accessible',\n        recommendation: 'Close port 3306 to public access, use SSH tunneling or VPN'\n      });\n    }\n    if (portResult.port === 80) {\n      vulnerabilities.push({\n        severity: 'Low',\n        type: 'Unencrypted HTTP',\n        port: portResult.port,\n        description: 'HTTP traffic is not encrypted',\n        recommendation: 'Redirect all HTTP traffic to HTTPS'\n      });\n    }\n  }\n});\n\nreturn [{\n  json: {\n    ...scanData,\n    vulnerabilities: vulnerabilities,\n    vulnerabilityCount: vulnerabilities.length,\n    riskLevel: vulnerabilities.some(v => v.severity === 'High') ? 'High' : \n               vulnerabilities.some(v => v.severity === 'Medium') ? 'Medium' : 'Low'\n  }\n}];"
      },
      "id": "bfd21f7e-36da-4210-8c2f-cd7cda4509b3",
      "name": "Check for Vulnerabilities",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "hostname": "={{ $json.hostname }}",
            "ip": "={{ $json.ip }}",
            "scanTime": "={{ $json.scanTime }}",
            "openPorts": "={{ $json.openPorts }}",
            "closedPorts": "={{ $json.closedPorts }}",
            "vulnerabilityCount": "={{ $json.vulnerabilityCount }}",
            "riskLevel": "={{ $json.riskLevel }}",
            "portScanResults": "={{ JSON.stringify($json.portScanResults) }}",
            "vulnerabilities": "={{ JSON.stringify($json.vulnerabilities) }}"
          }
        },
        "options": {}
      },
      "id": "47015c54-dc0b-4ced-a9a4-80a358c93bba",
      "name": "Save Scan Results",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        448,
        272
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0775a469-ea05-4f48-92ea-55441cc69f61",
      "name": "Loop Over Servers",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        192
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -768,
        32
      ],
      "id": "5dc67727-2eef-4856-9da3-8298fb88f5f0",
      "name": "Execute a command",
      "credentials": {
        "sshPassword": {
          "id": "sorafQAlmtOWgx6I",
          "name": "SSH Password account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -544,
        32
      ],
      "id": "949c3ee4-1bc6-4761-95db-5d0a7c1d9667",
      "name": "HTTP Request",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking Test workflow": {
      "main": [
        [
          {
            "node": "Define Servers to Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Servers to Scan": {
      "main": [
        [
          {
            "node": "Split Servers into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Servers into Items": {
      "main": [
        [
          {
            "node": "Loop Over Servers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Results": {
      "main": [
        [
          {
            "node": "Generate Markdown Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simulate Port Scan": {
      "main": [
        [
          {
            "node": "Check for Vulnerabilities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Vulnerabilities": {
      "main": [
        [
          {
            "node": "Save Scan Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Scan Results": {
      "main": [
        [
          {
            "node": "Loop Over Servers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Servers": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Simulate Port Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "Define Servers to Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7e1ee275-d83c-426d-b4ca-3f5645eda5fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "684055168b6a002a13a990f1f85459120e79f2860545a56b5af3df6b4d8a4084"
  },
  "id": "kG8GGdfHLyDXvPgr",
  "tags": []
}