Vulnerability Assessment Automation.json
{
  "name": "Vulnerability Assessment Automation",
  "nodes": [
    {
      "parameters": {},
      "id": "c4c66b8d-31fe-4138-9f7e-47f9202e51ce",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{\n  target_ip: \"172.16.3.103\",\n  target_url: \"http://172.16.3.103\"\n}];"
      },
      "id": "db033385-386b-4b58-91d5-68d3e47b0cd5",
      "name": "Set Target",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {},
      "id": "9b37e5fa-a3c0-47ad-ab3b-91274dcdf50e",
      "name": "Run Nmap Scan",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "functionCode": "const output = $json.stdout;\n\nlet risk = \"Low\";\nif (output.includes(\"VULNERABLE\") || output.includes(\"CVE\")) risk = \"High\";\nelse if (output.includes(\"open\")) risk = \"Medium\";\n\nreturn [{ nmap_result: output, nmap_risk: risk }];"
      },
      "id": "c9ed756f-7b2b-47c4-9985-083ef21078bd",
      "name": "Analyze Nmap",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {},
      "id": "89ea992a-cece-44cb-88f6-15575e7cf1a6",
      "name": "Run Web Scan (Nikto)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        400,
        208
      ]
    },
    {
      "parameters": {
        "functionCode": "const out = $json.stdout;\nlet risk = out.includes(\"OSVDB\") ? \"Medium\" : \"Low\";\nreturn [{ nikto_result: out, nikto_risk: risk }];"
      },
      "id": "7d09e0ac-13cb-44a0-bc39-c99fa1872de6",
      "name": "Analyze Web Scan",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        608,
        208
      ]
    },
    {
      "parameters": {},
      "id": "0d623475-df0b-4073-a6e4-95130c1a8f4e",
      "name": "SQL Injection Test",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        400,
        400
      ]
    },
    {
      "parameters": {
        "functionCode": "const out = $json.stdout;\nlet risk = out.includes(\"vulnerable\") ? \"High\" : \"Low\";\nreturn [{ sql_result: out, sql_risk: risk }];"
      },
      "id": "c11c8a1f-ce07-49a7-9c16-8f0c6b91690b",
      "name": "Analyze SQL Injection",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        608,
        400
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "options": {}
      },
      "id": "4176b5ce-1b98-4e08-bd4e-c32666e93684",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        800,
        208
      ]
    },
    {
      "parameters": {
        "functionCode": "const html = `\n<html>\n<body style=\"font-family:Arial;\">\n<h1>Vulnerability Assessment Report</h1>\n\n<h2>Target</h2>\n<p>${$json.target_ip}</p>\n\n<h2>Nmap Scan</h2>\n<pre>${$json.nmap_result}</pre>\n<p>Risk: ${$json.nmap_risk}</p>\n\n<h2>Web Scan (Nikto)</h2>\n<pre>${$json.nikto_result}</pre>\n<p>Risk: ${$json.nikto_risk}</p>\n\n<h2>SQL Injection Test</h2>\n<pre>${$json.sql_result}</pre>\n<p>Risk: ${$json.sql_risk}</p>\n\n<h2>Conclusion</h2>\n<p>Review high-risk findings immediately.</p>\n\n</body>\n</html>\n`;\n\nreturn [{ html }];"
      },
      "id": "03a26325-546f-4472-8416-9440e776f4fe",
      "name": "Generate Report HTML",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1008,
        208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0e672f6d-1d03-4bc8-9d9b-af84e7e3dc14",
      "name": "Convert to File",
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1,
      "position": [
        1200,
        208
      ]
    },
    {
      "parameters": {
        "fileName": "/home/node/.n8n-files/VA_Report.html",
        "options": {}
      },
      "id": "2749571c-968d-4da9-be92-4d46129b8270",
      "name": "Save HTML Report",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1408,
        208
      ]
    },
    {
      "parameters": {},
      "id": "ac790a15-010b-4f83-927d-c1af85500db2",
      "name": "Convert to PDF",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1600,
        208
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Nmap": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Web Scan": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze SQL Injection": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Generate Report HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report HTML": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Save HTML Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c0cac3a2-a2f2-489b-acbd-6775fc7f3e8c",
  "meta": {
    "instanceId": "684055168b6a002a13a990f1f85459120e79f2860545a56b5af3df6b4d8a4084"
  },
  "id": "azmwWmedyasgWtqn",
  "tags": []
}