Web Application Vulnerability and Weakness Testing.json
{
  "name": "Web Application Vulnerability and Weakness Testing",
  "nodes": [
    {
      "parameters": {},
      "id": "a3194034-b96f-4233-b383-0e574383cfa1",
      "name": "When clicking \"Test workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        0
      ]
    },
    {
      "parameters": {
        "url": "http://43.205.102.151/icp_snl/index.php",
        "options": {}
      },
      "id": "6e270b49-5917-4077-9612-fe33cd0c0fbd",
      "name": "Fetch URL Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -224,
        16
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "url",
              "value": "={{ $('Code in JavaScript').item.json.source_url }}",
              "type": "string"
            },
            {
              "id": "2",
              "name": "scan_date",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "security_analysis",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "status",
              "value": "={{ 'completed_' + $now.toFormat('yyyyMMdd_HHmmss') }}",
              "type": "string"
            },
            {
              "id": "5d360b62-3ca7-41a7-bfca-f49aa288c737",
              "name": " Risk score status",
              "value": "={{ $json.text.includes('Critical') ? '🔴 CRITICAL' : $json.text.includes('High') ? '🟠 HIGH RISK' : $json.text.includes('Medium') ? '🟡 MEDIUM RISK' : '🟢 LOW RISK' }}  ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b91c6fdb-12e7-4c0a-8807-c2c2038dc090",
      "name": "Format Security Report",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.data || '';\n\nconst cleaned = html\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n  .replace(/<!--[\\s\\S]*?-->/g, '')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .substring(0, 10000);\n\nreturn [{\n  json: {\n    data: cleaned,\n    source_url: 'http://43.205.102.151/icp_snl/index.php'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        16
      ],
      "id": "c026f005-69d0-4773-8f81-d5732def3d98",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a cybersecurity expert specializing in web application security testing. Analyze the following web page for OWASP Top 10 vulnerabilities.\n\n\nSource URL: {{ $json.source_url }}\n\nWeb page content:\n{{ $json.data }}\n\nProvide a detailed security assessment for each finding:\n- Vulnerability type\n- Severity (Critical/High/Medium/Low)\n- Location in code\n- Exploitation method\n- Remediation steps",
        "needsFallback": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        112,
        -64
      ],
      "id": "faa6600c-3829-417a-8e3e-cade0ef11d4e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -48,
        208
      ],
      "id": "e5f5c7e6-26e0-4fee-8f61-fe973b7a4af4",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "pzos75LJLJzBWi1a",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.security_analysis || '';\nconst url = $input.first().json.url;\nconst scanDate = $input.first().json.scan_date;\nconst riskStatus = $input.first().json.risk_score_status || 'UNKNOWN';\n\n// Parse vulnerability blocks\nconst lines = text.split('\\n').filter(l => l.trim());\nconst vulnerabilities = [];\nlet current = {};\n\nfor (const line of lines) {\n  const clean = line.replace(/\\*\\*/g, '').trim();\n\n  if (clean.match(/^#+\\s*\\d+\\.|^Vulnerability\\s*\\d+/i)) {\n    if (current.type) vulnerabilities.push(current);\n    current = { type: clean.replace(/^#+\\s*\\d+\\.\\s*/, ''), severity: '', location: '', exploitation: '', remediation: '' };\n  } else if (clean.toLowerCase().includes('severity')) {\n    current.severity = clean.replace(/.*severity[:\\s]*/i, '').trim();\n  } else if (clean.toLowerCase().includes('location')) {\n    current.location = clean.replace(/.*location[:\\s]*/i, '').trim().substring(0, 100);\n  } else if (clean.toLowerCase().includes('exploitation')) {\n    current.exploitation = clean.replace(/.*exploitation[:\\s]*/i, '').trim().substring(0, 150);\n  } else if (clean.toLowerCase().includes('remediation')) {\n    current.remediation = clean.replace(/.*remediation[:\\s]*/i, '').trim().substring(0, 150);\n  }\n}\nif (current.type) vulnerabilities.push(current);\n\nreturn [{\n  json: {\n    url,\n    scan_date: scanDate,\n    risk_status: riskStatus,\n    vulnerabilities,\n    total_findings: vulnerabilities.length,\n    critical_count: vulnerabilities.filter(v => v.severity.toLowerCase().includes('critical')).length,\n    high_count: vulnerabilities.filter(v => v.severity.toLowerCase().includes('high')).length,\n    medium_count: vulnerabilities.filter(v => v.severity.toLowerCase().includes('medium')).length,\n    low_count: vulnerabilities.filter(v => v.severity.toLowerCase().includes('low')).length\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        -64
      ],
      "id": "733db1cb-c7e3-416e-b8dd-236ba6533e41",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "deepseek/deepseek-r1-0528-qwen3-8b",
          "mode": "list",
          "cachedResultName": "deepseek/deepseek-r1-0528-qwen3-8b"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "1967c50e-37b1-49c5-b6ea-681c3bbdc42e",
      "name": "LM Studio",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        96,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "VzfufnZ4xbDHOO1C",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        512,
        192
      ],
      "id": "2d297d8c-17da-4abc-bebe-cb481eb30164",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "jsCode": "let count = 1;\nlet output = [];\n\nconst itemsInput = $input.all();\n\n// -------- REMEDIATION FUNCTION --------\nfunction getRemediation(v) {\n  const type = (v.type || \"\").toLowerCase();\n\n  if (type.includes(\"sql injection\"))\n    return \"Use prepared statements, parameterized queries, and input validation.\";\n\n  if (type.includes(\"xss\"))\n    return \"Implement input validation and output encoding. Use Content Security Policy (CSP).\";\n\n  if (type.includes(\"authentication\"))\n    return \"Implement strong authentication, session management, and MFA.\";\n\n  if (type.includes(\"idor\"))\n    return \"Validate user authorization on every request.\";\n\n  if (type.includes(\"csrf\"))\n    return \"Implement CSRF tokens and validate all requests.\";\n\n  if (type.includes(\"ssrf\"))\n    return \"Validate and restrict outbound requests. Use allowlists.\";\n\n  if (type.includes(\"security misconfiguration\"))\n    return \"Harden configurations and disable unnecessary services.\";\n\n  if (type.includes(\"sensitive data\"))\n    return \"Encrypt sensitive data and use secure transmission (HTTPS).\";\n\n  if (type.includes(\"access control\"))\n    return \"Enforce proper authorization and role-based access control.\";\n\n  return \"Follow OWASP Top 10 security best practices.\";\n}\n\n// -------- PROCESS DATA --------\nfor (const item of itemsInput) {\n\n  const url = item.json.url || \"\";\n  const scanDate = item.json.scan_date || \"\";\n  const riskStatus = item.json.risk_status || \"UNKNOWN\";\n\n  const vulnerabilities = item.json.vulnerabilities || [];\n\n  for (const v of vulnerabilities) {\n\n    const rem = (v.remediation || \"\").toLowerCase().trim();\n\n    output.push({\n      json: {\n        \"S.No\": count++,\n        \"URL\": url,\n        \"Scan Date\": scanDate,\n        \"Risk Status\": riskStatus,\n        \"Vulnerability Name\": v.type || \"\",\n        \"Severity\": v.severity || \"\",\n        \"Location\": v.location || \"\",\n        \"Exploitation Details\": v.exploitation || \"\",\n        \"Remediation Steps\": (rem && rem !== \"steps:\" && rem !== \"steps\")\n          ? v.remediation\n          : getRemediation(v)\n      }\n    });\n  }\n}\n\n// -------- ALWAYS RETURN OUTPUT --------\nreturn output.length > 0 ? output : [{\n  json: {\n    \"Message\": \"No vulnerabilities found\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        192
      ],
      "id": "8ecb850c-e771-4e26-b9e6-c6b191df4b72",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Test workflow\"": {
      "main": [
        [
          {
            "node": "Fetch URL Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch URL Content": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Format Security Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Security Report": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LM Studio": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "198cff65-7f2c-4f72-a41a-dcecb88429fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d10652121612eb52d2f72c9037deaf9bb475e2e18eaceb0d3dd341ed4086eaab"
  },
  "id": "WABOXIedPAl7rh0s",
  "tags": []
}